<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginclS</servlet-name>
    <servlet-class>Servlet.LoginclS</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>logincl</servlet-name>
    <servlet-class>Servlet.logincl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>myMain</servlet-name>
    <servlet-class>Servlet.myMain</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>managerS</servlet-name>
    <servlet-class>Servlet.managerS</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>dealUserData</servlet-name>
    <servlet-class>Servlet.dealUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginclS</servlet-name>
    <url-pattern>/servlet/LoginclS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logincl</servlet-name>
    <url-pattern>/logincl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myMain</servlet-name>
    <url-pattern>/myMain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>managerS</servlet-name>
    <url-pattern>/managerS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dealUserData</servlet-name>
    <url-pattern>/dealUserData</url-pattern>
  </servlet-mapping>
</web-app>